@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Nunito', sans-serif;
  &::-webkit-scrollbar {
    width: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.App{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  .wrapper{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .container{
        width: 1500px;
        height: 750px;
        border-radius: 10px;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.445);
        display: grid;
        grid-template-columns: minmax(285px, 1fr) 3fr;
        grid-template-rows: 1fr;
        overflow: hidden;
        // animation: showContainer .5s ease-in-out;
    }

  }
}

@keyframes showContainer{
  0%{
      opacity: 0;
      transform: scale(.7);
      

  }
  100%{
      opacity: 1;
      transform: scale(1);
  }
}



.searchInput{
    .MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedStart.MuiFilledInput-adornedStart.MuiInputBase-marginDense.MuiFilledInput-marginDense{
        height: 35px;
        background: rgba(22, 37, 243, 0.02);
        &:hover{
            background: rgba(0, 0, 0, 0.07);
        }
        &.Mui-focused{
            background: rgba(0, 0, 0, 0.07);
            svg{
                color: #00d4ff;
                opacity: 1 !important;
            }
        }
        &::after{
            border-bottom: 2px solid #00d4ff;
        }
        .MuiInputAdornment-root.MuiInputAdornment-positionStart.MuiInputAdornment-filled.MuiInputAdornment-marginDense {
           margin-top: 5px;
           svg{
             transform: rotate(180deg);
             opacity: 0.5;
           }
        }
        input{
          padding-top: 6px ;
          padding-bottom: 6px;
        }
    }
}


.MuiFormControl-root.MuiTextField-root.textArria.MuiFormControl-fullWidth{
  .MuiInputLabel-filled{
    color: white;
    &.Mui-focused{
      color: #00d4ff;
    }
  }
  .MuiFilledInput-multiline{
    color: white;

    textarea{
      &::-webkit-scrollbar{
        width: 0px;
      }
    }

    &::after{
      border-bottom: 2px solid #00d4ff;
    }
  }
}