.Home{
   $self:&;
   padding: 20px;
   position: relative;
   overflow: hidden;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 100px 1fr;
   &__top{
      display: flex;
      align-items: center;
      border-bottom: 2px solid rgba(37, 37, 37, 0.616);
   }

   &__container{
      overflow-y: scroll;
      padding: 1rem;
      // display: grid;
      // grid-template-columns: repeat(3, 1fr);
      // grid-template-rows: repeat(auto-fill, minmax(120px, 150px));
      // justify-items: center;
      // align-items: center;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start;
      &::-webkit-scrollbar{
         width: 0px;
      }
   }
}

